@model IEnumerable<Web.Models.Pais.ListarPaisViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Foto do País
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <img style="max-height: 120px; max-width: 120px;" src="@item.UrlFoto" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.Id}) |
                    @Html.ActionLink("Details", "Details", new { item.Id }) 
                </td>
            </tr>
        }
    </tbody>
</table>
